// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.letter {
  background-color: blue;
  font-weight: bold;
  color: white;
  padding: 15px 20px;
  margin: 20px 12px;
  font-size: 22px;
}

h1, h2 {
  color: #333333;
}

a {
  text-decoration: none;
}
